*{

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body::-webkit-scrollbar {
    display: none;
}

  nav{
    height: 80px;
    width: 100%;
  }
  label.page-logo{
    color: var(--clr-primary);
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 0;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: var(--clr-primary);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
  a.active,a:hover{
    background: var(--clr-secondary);
    transition: .5s;
  }
  .icon-button{
    font-size: 30px;
    color: var(--clr-primary);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.page-logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .icon-button{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--clr-white);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: var(--clr-primary);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  #side-bar {
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    scrollbar-width: none;
    
}
/* Mobile view: side-bar hidden */
@media (max-width: 858px) {
    #side-bar {
        display: none; /* Hide side-bar */
    }
    /* Show side-bar when active */
    .side-bar--active {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 100; /* Ensure it's above other content */
    }
}

#side-bar h2, #side-bar ul li {
    color: var(--clr-primary); /* Adjust your text color here */
}
#side-bar ul {
    list-style: none;
}
