@import url('https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;700&family=Quicksand:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /* Define grayscale color variables */
  --color-primary-text: #19193E;/*Primary text color*/
  --color-primary-background: #ADA8E1;/*Dark background color is set*/
  --color-background: #faeee7;/*background color*/
  --color-text-highlight: #ff8ba7;/*text highlight*/
  --color-accent: #f0f0f0;/*light accent color*/
  --color-secondary-text: #e5d283;/*Secondary text color*/
  --color-hover: #009688;/* Teal color for hover */
  --color-active: #ff5722;/* Deep orange color for active */
}

/* Add Border box fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins for body, all headings, p, figure, and picture */
body,
h1,h2,h3,h4,h5,h6,p,
figure,picture {
  margin: 0;
  /* Removes default margins from these elements to provide a consistent starting point for styling */
}
/* Remove padding from lists */
ul,
ol {
  padding: 0;
}

/* CSS Variables */
:root {
  /*font families*/
  --font-primary: "Playfair Display", sans-serif;
  --font-secondary: "Quicksand", sans-serif;

}
html{
  scroll-behavior: smooth;
}


/* Utility Classes for Font Family */
.c-u-ff-Playfair-Display{font-family: var(--font-primary);}
.c-u-ff-quicksand{font-family: var(--font-secondary);}
.c-u-ff-Playfair-Display , .c-u-ff-quicksand {
  /**font weight**/
  &.fw-100 { font-weight: 100; }
  &.fw-200 { font-weight: 200; }
  &.fw-300 { font-weight: 300; }
  &.fw-400 { font-weight: 400; }
  &.fw-500 { font-weight: 500; }
  &.fw-600 { font-weight: 600; }
  &.fw-700 { font-weight: 700; }
  &.fw-800 { font-weight: 800; }
  &.fw-900 { font-weight: 900; }
  /** Font Size **/
  &.fs-12 { font-size: 12px; }
  &.fs-14 { font-size: 14px; }
  &.fs-16 { font-size: 16px; }
  &.fs-18 { font-size: 18px; }
  &.fs-20 { font-size: 20px; }
  &.fs-24 { font-size: 24px; }
  &.fs-22 { font-size: 32px; }
  &.fs-large {font-size: 2.5rem;}
  &.fs-medium {font-size: 2rem;}
  /** Letter Spacing **/
  &.ls-1 { letter-spacing: 1px; }
  &.ls-2 { letter-spacing: 2px; }
  &.ls-3 { letter-spacing: 3px; }
  /** Line Height **/
  &.lh-1 { line-height: 1; }
  &.lh-1-5 { line-height: 1.5; }
  &.lh-2 { line-height: 2; }
  /** Font Style **/
  &.fs-normal { font-style: normal; }
  &.fs-italic { font-style: italic; }
  /**Margin top utilities**/
  &-t-0 { margin-top: 0rem; }
  &-t-0_25 { margin-top: 0.25rem; }
  &-t-0_5 { margin-top: 0.5rem; }
  &-t-0_75 { margin-top: 0.75rem; }
  &-t-1 { margin-top: 1rem; }
  &-t-1_25 { margin-top: 1.25rem; } 
  &-t-1_5 { margin-top: 1.5rem; } 
  /**Padding Utilities **/
  &-p-0 { padding: 0rem; }
  &-p-0_25 { padding: 0.25rem; }
  &-p-0_5 { padding: 0.5rem; }
  &-p-0_75 { padding: 0.75rem; }
  &-p-1 { padding: 1rem; }
  /**Padding Top, Bottom, Right, Left**/
  &-pt-0_25 { padding-top: 0.25rem; }
  &-pb-0_25 { padding-bottom: 0.25rem; }
  &-pr-0_25 { padding-right: 0.25rem; }
  &-pl-0_25 { padding-left: 0.25rem; }
  
  /**Padding Horizontal and Vertical**/
  &-px-0_25 { padding-right: 0.25rem; padding-left: 0.25rem; }
  &-py-0_25 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
  /**Flexbox Utility Classes**/
  &-flex { display: flex; }
  &-inline-flex { display: inline-flex; }
  
  /**Flex Direction**/
  &-row { flex-direction: row; }
  &-row-reverse { flex-direction: row-reverse; }
  &-column { flex-direction: column; }
  &-column-reverse { flex-direction: column-reverse; }
  
  /**Flex Wrap **/
  &-wrap { flex-wrap: wrap; }
  &-nowrap { flex-wrap: nowrap; }
  &-wrap-reverse { flex-wrap: wrap-reverse; }
  
  /**Justify Content**/
  &-justify-start { justify-content: flex-start; }
  &-justify-end { justify-content: flex-end; }
  &-justify-center { justify-content: center; }
  &-justify-between { justify-content: space-between; }
  &-justify-around { justify-content: space-around; }
  &-justify-evenly { justify-content: space-evenly; }
  
  /**Align Items**/
  &-align-items-start { align-items: flex-start; }
  &-align-items-end { align-items: flex-end; }
  &-align-items-center { align-items: center; }
  &-align-items-baseline { align-items: baseline; }
  &-align-items-stretch { align-items: stretch; }

}
/**Grid Container Utilities**/
.grid {
  display: grid;
  &.inline-grid { display: inline-grid; }
  /** Grid Template Columns **/
  &.cols-2 { grid-template-columns: repeat(2, 1fr); }
  &.cols-3 { grid-template-columns: repeat(3, 1fr); }
  /** Grid Template Rows **/
  &.rows-2 { grid-template-rows: repeat(2, 1fr); }
  &.rows-3 { grid-template-rows: repeat(3, 1fr); }
  /** Gap **/
  &.gap-0 { gap: 0rem; }
  &.gap-1 { gap: 1rem; }
  &.gap-2 { gap: 2rem; }
}

/** Paragraph Spacing **/
p {
  &.top-0_5 { margin-top: 0.5rem; }
  &.bottom-1 { margin-bottom: 1rem; }
}
/** Container Classes **/
.container {
  &.mobile {
    max-width: 100%;
    padding: 16px;
  }
  &.full-width { width: 100%; }
}
/** Vertical Spacing for Headings and Paragraphs**/
.vertical-spacing {
  &.h1 { margin-bottom: 1.5rem; }
  &.h2 { margin-bottom: 1.25rem; }
  &.small { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  &.medium { margin-top: 1rem; margin-bottom: 1rem; }
  &.large { margin-top: 1.5rem; margin-bottom: 1.5rem; }
}

/*******************************Outback Nursery CSS****************************************/

/* Reset and Global Styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary)
}

/* BEM and namespaced styles for navbar */
.c-navbar {
    background: var(--color-primary-background);
    height: 80px;
    width: 100%;
    
}

.c-navbar__logo {
    color: var(--color-accent);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.c-navbar__items {
    float: right;
    margin-right: 20px;
}

.c-navbar__item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.c-navbar__link {
    color: var(--color-accent);
    font-size: 17px;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: color 0.5s ease, text-decoration 0.5s ease; /* Smooth transition for color and text-decoration */
}

.c-navbar__link--active,
.c-navbar__link:hover {
    color: var(--color-active);
text-decoration:solid;
}

.c-navbar__toggle {
    font-size: 30px;
    color: var(--color-accent);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.c-navbar__checkbox {
    display: none;
}

/* Responsive adjustments */


@media (max-width: 858px) {
    .c-navbar__toggle {
        display: block;
    }
    .c-navbar__items {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color-primary-background);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .c-navbar__item {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .c-navbar__link {
        font-size: 20px;
    }
    .c-navbar__link:hover,
    .c-navbar__link--active {
        background: none;
        color: var(--color-active);
    }
    #c-check:checked ~ .c-navbar__items {
        left: 0;
    }
}

/* Optional: Section styles if needed */
section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}


/* styles for the "Coming Soon" section */
.c-coming-soon {
  color: var(--color-primary-text);
  text-align: center;
  padding: 50px 0;
}

.c-coming-soon__container {
  max-width: 600px;
  margin: 0 auto;
}

.c-coming-soon__title {
  margin-bottom: 20px;
}

.c-coming-soon__description {
  color: var(--color-secondary-text);
}

/* General Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utility Classes and Hero Section Styling */
/* Namespace: c- for custom, indicating this is part of our specific design system */

/* Hero Section */
.c-hero {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: var(--color-accent); /* This will be covered by the image */
}

.c-hero__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensures content is above the image */
  color: var(--color-accent); /* Assuming white text will stand out */
}

.c-hero__title {
  color: var(--color-primary-text);
  font-size: 30px; /* Adjust as needed */
  margin-bottom: 25px;
}

.c-hero__description {
  font-family: var(--font-secondary);
  font-size: 20px; /* Adjust as needed */
  margin-bottom: 30px;
  color: var(--color-text-highlight);
}

.c-hero__cta {
  font-size: 18px; /* Adjust as needed */
  background-color: var(--color-primary-background);
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--color-accent);
  margin: 10px; /* Spacing between buttons */
  display: inline-block; /* Allows buttons to sit side by side */
}

.c-hero__cta--shop {
  background-color: var(--color-hover); /* Specific background color for 'Shop Now' button */
}


.c-hero__cta--learn-more {
  background-color: var(--color-active); /* Specific background color for 'Learn More' button */
}

.c-hero__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Image below the text content */
}

.c-hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the viewport without losing aspect ratio */
}

/* Product List Styles */
.c-product-list {
  text-align: center;

}

.c-product-list__title {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 35px;
  color: var(--color-primary-text);
}

.c-product-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  
  justify-content: space-around; /* Distribute space evenly around items */
 
}

/* Product Item Styles */
.c-product {
  position: relative;
  width: 200px; /* Control circle size here */
  height: 200px; /* Control circle size here */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px; /* Space between rows if wrap occurs */
}

.c-product__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


/* Product Item Text Styles */
.c-product__name {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the positioning */
  width: 90%; /* Width relative to parent */
  color: var(--color-accent);
  font-size: 16px; /* Choose a size that fits well */
  font-weight: bold; /* Optional: if you want the font to be bold */
  text-align: center;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis when text is too long */
}
/* Product List CTA Styles */
.c-product-list__cta {
  text-align: center; /* Centers the CTA button */
  margin-top: 30px; /* Space above the CTA button */
}

.c-button {
  font-family: var(--font-primary);
  padding: 20px 40px; /* Increase padding for a larger button */
  font-size: 20px; /* Increase font size for better readability */
  border-radius: 10px;
  height: 40px;
  background-color: var(--color-primary-background); /* Background color of the button */
  color: white; /* Text color of the button */
  text-decoration: none; /* Remove underline from links */
  border-radius: 10px; /* Rounded corners for the button */
  font-weight: bold; /* Optional: if you want the font to be bold */
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.c-button:hover {
  background-color: var(--color-primary-background); /* Darker shade on hover */
}

/*for gifts and certificate*/
/* Form section styling */
.form-section {
  display: flex;
  border-radius: 20px;
  flex-direction: column; /* Stack elements on mobile */
  align-items: center; /* Center elements */
  margin: 80px; /* Add some margin around the section */
  padding: 20px; /* Add padding for spacing */
  background-color: var(--color-accent); /* Light background color */
}

/* Image styling */
.form-section__image-container {
  margin-bottom: 20px; /* Space below the image */
}

.form-section__image {
  width: 100%; /* Full width on mobile */
  max-width: 600px; /* Maximum width of the image */
  height: auto; /* Keep aspect ratio */
  border-radius: 10px; /* Rounded corners */
}

/* Form styling */
.form-section__form {
  width: 100%; /* Full width on mobile */
}

.form-section__label,
.form-section__input,
.form-section__select,
.contact-form textarea,
.form-section__button {
  text-align: start;
  display: block; /* Block-level elements */
  width: 100%; /* Full width */
  margin-bottom: 10px; /* Spacing between elements */
}

.form-section__input,
.form-section__select {
  padding: 10px; /* Padding for inputs */
  border: 1px solid var(--color-accent); /* Border color */
  border-radius: 5px; /* Rounded corners for inputs */
}

.form-section__button {
  padding: 12px 20px;
  background-color: var(--color-primary-background); /* Primary button color */
  color: #fff; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.form-section__button:hover {
  background-color: var(--color-primary-background); /* Darken button on hover */
}

/* Container for announcements */
.announcements-container {
  max-width: 75%; /* Set a max-width for the container */
  margin: 2rem auto; /* Center the container with auto margins */
  padding: 1rem;
  background-color: var(--color-accent); /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px var(--color-background); /* A subtle shadow for depth */
}

/* Title for the announcements */
.announcements-title {
  text-align: center;
  color: var(--color-primary-text); /* Primary text color */
  margin-bottom: 1rem; /* Space below the title */
  font-family: "Playfair Display", sans-serif; /* Font family from your variables */
}

/* Scrolling Announcement List */
.announcements-scroll {
  overflow: hidden;
  position: relative;
}

.announcements-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  position: relative;
  /* Animation properties here */
}

.announcement-item {
  background-color: var(--color-background); /* Accent color */
  padding: 0.5rem; /* Padding within each item */
  margin: 0.5rem 0; /* Space between items */
  text-align: center; /* Center text */
}

.announcements-title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 3.5rem;
}

/* Apply the scrolling animation to the announcement list */
.announcements-list {
  animation: scroll-announcements 10s linear infinite;
}

/* FAQ Accordion Styles */
.faq-section {
  padding: 20px;
}

.faq-section__title {
  text-align: center;
  margin-bottom: 20px; /* Increase margin */
  font-size: 24px; /* Larger font size for the title */
}

.faq-section__item:not(:last-child) {
  margin-bottom: 15px; /* Increase space between items */
}
.faq-section__question::before {
  content: '+';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 12px;
}

.faq-section__question[aria-expanded="true"]::before {
  content: '-';
}
.faq-section__question {
  position: relative;
  width: 100%;
  text-align: left;
  background-color: var(--color-accent);
  padding-right: 20px;
  border-radius: 10px;
  padding: 20px; /* Increase padding for larger touch target */
  cursor: pointer;
  font-size: 18px; /* Larger font size for the question text */
  border: 1px solid var(--color-accent); /* Add border for definition */
}

.faq-section__answer {
  text-align: center;
  border-radius: 10px;
  display: none; /* Hidden by default */
  padding: 15px; /* Increase padding for the answer */
  background-color: var(--color-background);
  font-size: 16px; /* Set font size for the answer text */
}

/* Media Queries for Desktop */
@media (min-width: 768px) {
  .faq-section {
    max-width: 94%;
    margin: auto;
  }

  .faq-section__question {
    font-size: 20px; /* Even larger font size for desktop */
  }

  .faq-section__answer {
    text-align: start;
    display: none;
    font-size: 18px; /* Adjust font size for desktop if necessary */
  }
}


/* Footer Styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-primary-background);
  color: #fff;
  gap: 1rem;
}

.footer__logo-container {
  flex-basis: 100%; /* full width */
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__logo {
  max-width: 150px; /* Adjust as needed */
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer__quick-links,
.footer__social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem; /* Space between each link */
}

.footer__link,
.footer__social-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.footer__link:hover,
.footer__social-link:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

.footer__map-container {
  flex-grow: 1;
  max-width: 350px;
  order: 3; /* make sure the map is last */
}

.footer__map {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  border: none;
}

/* Accessibility improvements */
.footer__link:focus,
.footer__social-link:focus {
  outline: 2px dashed #fff;
  outline-offset: 4px;
}

/* Use this for screen readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}






/******************************* Media Queries ****************************************/

/* Media Queries for Tablets and larger devices */

@media (min-width: 768px) {
  .c-product-list__wrapper {
    
    justify-content:center;
     /* Center items in a larger viewport */
    gap: 100px;
  }

  .c-product {
    
    width: 300px; /* Larger size for desktop */
    height: 300px; /* Larger size for desktop */
  }
  .c-product__name {
    font-family: var(--font-secondary);
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the positioning */
    width: 90%; /* Width relative to parent */
    color: white;
    font-size: 26px; /* Choose a size that fits well */
    font-weight: bold; /* Optional: if you want the font to be bold */
    text-align: center;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis when text is too long */
  }
  .form-section {
    flex-direction: row; /* Side-by-side layout on desktop */
    align-items: flex-start; /* Align items to the start */
    justify-content: space-between; /* Space between image and form */
  }

  .form-section__image-container {
    margin-bottom: 0; /* Remove margin bottom on desktop */
  }

  .form-section__form {
    max-width: 1000px; /* Maximum width of the form */
  }
  .announcements-container {
    position: relative;
    /* Adjustments for larger screens */
    max-width: 92%; /* Or as per your design requirements */
  }
  /**footer**/
  .footer {
    flex-wrap: nowrap;
    padding: 2rem 5rem; /* More padding on desktop */
  }

  .footer__logo-container {
    flex-basis: auto;
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .footer__links {
    justify-content: space-around;
  }

  .footer__quick-links,
  .footer__social-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .footer__map-container {
    order: 0; /* reset order */
    padding-left: 1rem;
  }

  .footer__map {
    height: 250px; /* Larger height on desktop */
  }
} 
@media (max-width: 858px) {
  /* Navbar styles */
  .c-navbar__toggle {
    display: block;
  }
  .c-navbar__items {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--color-primary-background);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .c-navbar__item {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .c-navbar__link {
    font-size: 20px;
  }
  #c-check:checked ~ .c-navbar__items {
    left: 0;
  }

  /* Product list adjustments */
  .c-product-list__wrapper {
    justify-content: center;
    gap: 100px;
  }
  .c-product {
    width: 300px;
    height: 300px;
  }
  .c-product__name {
    font-family: var(--font-secondary);
    font-size: 26px;
  }

}

@media (max-width: 952px) {
  .c-navbar__logo {
      font-size: 20px;
      padding-left: 50px;
  }
  .c-navbar__link {
      font-size: 16px;
  }
}

/* Media Queries for Desktops and larger devices */
@media (min-width: 1024px) {
  /* Hero section adjustments */
  .c-hero__title {
    color: var(--color-primary-text);
    font-size: 35px;
    margin-bottom: 25px;
  }
  .c-hero__description {
    font-size: 20px;
  }
  .c-hero__cta {
    padding: 20px 30px;
    border-radius: 17px;
    font-size: 20px;
  }
  
}
/* Keyframes for automatic scrolling */
@keyframes scroll-announcements {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
